{% load staticfiles %}

<div id="header" align="center">
					<br>
	<h1> ITU Plagarism Checker !!! </h1>
	<nav class="navbar navbar-inverse">
			<div id="navbar" class="collapse navbar-collapse">
				<div class="dropdown pull-right" id="userdropdown">
					{% if user.is_authenticated  %}
					<br>
					<ul class="dropdown-menu" aria-labelledby="usermenu">
						<a href="/accounts/profile/">Dashboard</a>
						<a href="/test/">Test</a>
						<a href="/upload/">Upload</a>
						<a href="/accounts/settings/">Settings</a>
						<a href="/accounts/logout/">Log Out</a>
						{% if user.is_staff %}
							<li><a href="/admin/">Admin Site</a></li>
						{% endif %}
					</ul>
					{% else %}
					<div class="btn-group" role="group" aria-label="usermgmt">
						<a href="/accounts/register/" class="btn btn-primary" id="registerButton">Register</a>
						<a href="/accounts/login/" class="btn btn-primary" id="loginButton">Log In</a>
					</div>
					{% endif %}
				</div>
			</div><!--/.nav-collapse -->

	</nav>
	<br><br>
</div>
